.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap:50px;
}
.filter-and-sort{
    margin:20px;
}
.filter-and-sort a{
    /* border: 1px solid red; */
    position: absolute;
    top:0;
    right:5%
}
