<div class="product-card">
    <div class="product-image">
      <img [height]="300" [src]="product.image" alt="{{product.name}}">
    </div>
    <div class="product-details">
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <p>Price: ${{product.price}}</p>
    </div>
    <div class="product-actions">
      <button (click)="viewDetails()">View Details</button>
      <button (click)="addToCart(product)">Add to Cart</button>
      <button (click)="toggleFavorite(product)" class="favorite-button">
        <!-- Conditional styling for the favorite button -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="12" viewBox="0 0 24 24"
          [ngClass]="{ 'red-heart': isFavorite }">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
        </svg>
      </button>
    </div>
    <div *ngIf="showDetails" class="more-details">
      <h3>Specifications:</h3>
      <!-- Display product specifications here -->
      <ul>
        <li>Size: {{ product.specifications.size }}</li>
        <li>Color: {{ product.specifications.color }}</li>
        <!-- Add more specifications as needed -->
      </ul>
      
      <h3>Customer Reviews:</h3>
      <!-- Display customer reviews here -->
      <ul>
        <li>Review 1: {{ product.reviews[0] }}</li>
        <li>Review 2: {{ product.reviews[1] }}</li>
        <!-- Add more reviews as needed -->
      </ul>
      
      <h3>Related Products:</h3>
      <!-- Display related products here -->
      <ul>
        <li>Related Product 1: <a href="#">Link to Related Product 1</a></li>
        <li>Related Product 2: <a href="#">Link to Related Product 2</a></li>
        <!-- Add more related products as needed -->
      </ul>
    </div>
  </div>
  